@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<h1>Dashboard</h1>
<script>
    document.querySelector('#dashboard').parentElement.classList.add("active");

</script>