
<img src="~/assets/img/about-bg.jpg" style="width: 100%" />
<h3>About Me!</h3>
<div style="font-size: 18px">Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest.</div>

