
@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Model.User.RegisterModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="~/css/styleLogin.css" />
    <style>
        .checkbox-primary input:checked ~ .checkmark:after {
            color: #696cff;
            padding-top:2px;
        }
    </style>
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section"></h2>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" style="background-image: url(/images/brucelee.jpg)"></div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Register</h3>
                                </div>
                                <div class="w-100">

                                </div>
                            </div>
                            <form asp-area="Admin" asp-controller="Account" asp-action="Register" method="post" class="signin-form">
                                @Html.AntiForgeryToken()
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Username">Username</label>
                                    <input asp-for="Username" type="text" class="form-control" placeholder="Username" required />

                                </div>
                                
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Email">Email</label>
                                    <input asp-for="Email" type="text" class="form-control" placeholder="Email" required />

                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Password">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
                                </div>

                                <div class="form-group mb-3">
                                    <label class="label" asp-for="ConfirmPassword">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required />
                                </div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3" style="background: #696cff!important;
    border: 1px solid #696cff !important;">
                                        Register
                                    </button>
                                </div>
                                
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

