@using FA.JustBlog.Services.CategoryService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
@inject ICategoryService categoryService;
@model Model.Post.PostCreateModel;


<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Post/</span> Create Post</h4>

<!-- Basic Layout -->
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-body">
                <form  id="form-create-post">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Title</label>
                        <input type="text" asp-for="Title" class="form-control" id="basic-default-fullname" placeholder="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Short Description</label>
                        <input type="text" asp-for="ShortDescription" class="form-control" id="basic-default-company" placeholder="Short Description" />
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-message">Post Content</label>
                        <textarea asp-for="PostContent" id="basic-default-message"
                                  class="form-control"
                                  placeholder="Post Content" style="height:400px"></textarea>

                    </div>
                    <div class="mb-3">
                        <label for="defaultSelect" class="form-label">Category</label>
                        <select asp-for="CategoryId" id="select-cate" class="form-select">
                            @*<option disabled selected hidden value="0">Category</option>*@
                            @{
                                var cates = await categoryService.GetAllCategoryName();
                                foreach (var item in cates)
                                {
                                    <option value="@item.Id">@item.CategoryName</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Tag</label>
                        <input type="text" asp-for="TagsName" class="form-control tagin" data-tagin-enter value="" data-tagin-placeholder="Add a tag... (then press comma or enter)">

                    </div>
                    <div class="mb-3" id="div-pub">
                        <label for="defaultSelect" class="form-label">Published</label>
                        <div>
                            <input asp-for="Published"
                                   class="form-check-input"
                                   type="radio"
                                   value="true"
                                   id="defaultRadio1" checked />
                            <label class="form-check-label me-1" id="label-true"> True </label>
                            <input asp-for="Published"
                                   class="form-check-input"
                                   type="radio"
                                   value="false"
                                   id="defaultRadio2" />
                            <label class="form-check-label" id="label-false"> False </label>
                        </div>
                        <span asp-validation-for="Published" class="text-danger"></span>
                    </div>



                    <button type="button" class="btn btn-primary mt-3" onclick="CreatePost()">Create</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    document.querySelector('#createpost').parentElement.classList.add("active");

    const tagin = new Tagin(document.querySelector('.tagin'), {
        enter: true
    })

    function CreatePost() {
        $.ajax({
            url: '/admin/post/create',
            type: 'POST',
            data: $('#form-create-post').serialize() ,
            success: function(result) {
                toastr.success('Create successfully !');
            },
            error: function(result) {
                toastr.error('Create failure !');
            }
        });
    }
</script>


<script src="~/js/ValidateForm.js"></script>