

<form method="get" asp-controller="Home" asp-action="Index">
    <input type="text" placeholder="Search" style="width:100%" class="p-2" value="" name="search" />
    <div class="d-flex justify-content-end mb-4 mt-2">
        <button type="submit" class="btn btn-primary text-uppercase">Search</button>
    </div>
</form>

